In [ ]:
import pandas as pd

In [ ]:
tips = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Tips.csv')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
tips['tip']/tips['total_bill']*100

0       5.944673
1      16.054159
2      16.658734
3      13.978041
4      14.680765
         ...
239    20.392697
240     7.358352
241     8.822232
242     9.820426
243    15.974441
Length: 244, dtype: float64

In [ ]:
tip_percentage = tips['tip']/tips['total_bill']*100

In [ ]:
tip_percentage

0       5.944673
1      16.054159
2      16.658734
3      13.978041
4      14.680765
         ...
239    20.392697
240     7.358352
241     8.822232
242     9.820426
243    15.974441
Length: 244, dtype: float64

In [ ]:
tips['tip_percentage'] = tips['tip']/tips['total_bill']*100

In [ ]:
tips.head()

   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2        5.944673
1       10.34  1.66    Male     No  Sun  Dinner     3       16.054159
2       21.01  3.50    Male     No  Sun  Dinner     3       16.658734
3       23.68  3.31    Male     No  Sun  Dinner     2       13.978041
4       24.59  3.61  Female     No  Sun  Dinner     4       14.680765

In [ ]:
tips['tip_percentage'] = tips['tip_percentage'].round(1)

In [ ]:
tips.head()

   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2             5.9
1       10.34  1.66    Male     No  Sun  Dinner     3            16.1
2       21.01  3.50    Male     No  Sun  Dinner     3            16.7
3       23.68  3.31    Male     No  Sun  Dinner     2            14.0
4       24.59  3.61  Female     No  Sun  Dinner     4            14.7

In [ ]:
tips = tips.drop(['sex'], axis =1)

In [ ]:
tips.head()

   total_bill   tip smoker  day    time  size  tip_percentage
0       16.99  1.01     No  Sun  Dinner     2             5.9
1       10.34  1.66     No  Sun  Dinner     3            16.1
2       21.01  3.50     No  Sun  Dinner     3            16.7
3       23.68  3.31     No  Sun  Dinner     2            14.0
4       24.59  3.61     No  Sun  Dinner     4            14.7

In [ ]:
tips.set_index('total_bill')

             tip smoker   day    time  size  tip_percentage
total_bill
16.99       1.01     No   Sun  Dinner     2             5.9
10.34       1.66     No   Sun  Dinner     3            16.1
21.01       3.50     No   Sun  Dinner     3            16.7
23.68       3.31     No   Sun  Dinner     2            14.0
24.59       3.61     No   Sun  Dinner     4            14.7
...          ...    ...   ...     ...   ...             ...
29.03       5.92     No   Sat  Dinner     3            20.4
27.18       2.00    Yes   Sat  Dinner     2             7.4
22.67       2.00    Yes   Sat  Dinner     2             8.8
17.82       1.75     No   Sat  Dinner     2             9.8
18.78       3.00     No  Thur  Dinner     2            16.0

[244 rows x 6 columns]

In [ ]:
tips.head()

   total_bill   tip smoker  day    time  size  tip_percentage
0       16.99  1.01     No  Sun  Dinner     2             5.9
1       10.34  1.66     No  Sun  Dinner     3            16.1
2       21.01  3.50     No  Sun  Dinner     3            16.7
3       23.68  3.31     No  Sun  Dinner     2            14.0
4       24.59  3.61     No  Sun  Dinner     4            14.7

In [ ]:
tips = tips.set_index('total_bill')

In [ ]:
tips.head()

             tip smoker  day    time  size  tip_percentage
total_bill
16.99       1.01     No  Sun  Dinner     2             5.9
10.34       1.66     No  Sun  Dinner     3            16.1
21.01       3.50     No  Sun  Dinner     3            16.7
23.68       3.31     No  Sun  Dinner     2            14.0
24.59       3.61     No  Sun  Dinner     4            14.7

In [ ]:
tips = tips.reset_index()

In [ ]:
tips.head()

   total_bill   tip smoker  day    time  size  tip_percentage
0       16.99  1.01     No  Sun  Dinner     2             5.9
1       10.34  1.66     No  Sun  Dinner     3            16.1
2       21.01  3.50     No  Sun  Dinner     3            16.7
3       23.68  3.31     No  Sun  Dinner     2            14.0
4       24.59  3.61     No  Sun  Dinner     4            14.7